<div class="drovioRelationsApplication">
	<div class="middleContainer">
		<div class="sidebar">
			<ul class="pnavigation">
				<li class="navitem filter all selected" data-filter="all" data-literal='{"scope":"main.relations","name":"hd_all"}'>
					<div class="ico"></div>
				</li>
				<li class="navitem filter contacts" data-filter="contact" data-literal='{"scope":"main.relations","name":"hd_contacts"}'>
					<div class="ico"></div>
				</li>
				<li class="navitem filter users" data-filter="user" data-literal='{"scope":"main.relations","name":"hd_identity_users"}'>
					<div class="ico"></div>
				</li>
			</ul>
			<ul class="pnavigation">
<!--				<li class="navitem import" data-literal='{"scope":"main.relations","name":"hd_import"}'>
					<div class="ico"></div>
				</li>-->
				<li class="navitem export" data-literal='{"scope":"main.relations","name":"hd_export"}'>
					<div class="ico"></div>
				</li>
<!--				<li class="navitem social" data-literal='{"scope":"main.relations","name":"hd_social"}'>
					<div class="ico"></div>
				</li>-->
				<li class="navitem settings" data-literal='{"scope":"main.relations","name":"hd_settings"}'>
					<div class="ico"></div>
				</li>
			</ul>
			<ul class="pnavigation">
				<li class="navitem create" data-literal='{"scope":"main.relations","name":"hd_create"}'>
					<div class="ico"></div>
				</li>
			</ul>
		</div>
		<div id="sectionContainer" class="sectionbody" />
	</div>
</div>