.personDetails .sidebar {
	float: left;
	width: 25%;
}

.personDetails .sidebar .imageContainer {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.personDetails .sidebar .imageContainer:empty {
	background: url('%{media}/icons/profile.svg') no-repeat center;
	background-size: contain;
	opacity: 0.7;
}

.personDetails .sidebar .imageContainer img {
	height: inherit;
	width: inherit;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.personDetails .sidebar .name {
	color: #5E6570;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 24px;
}
.personDetails .detailsContainer {
	float: right;
	width: 75%;
}
.personDetails .detailsContainer .section {
	border: 1px solid #E8E8E8;
	background: #FFF;
	padding: 20px;
	margin: 10px 0px;
}

.personDetails .detailsContainer .section .hd {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	margin: 5px 0px;
	margin-bottom: 20px;
	color: #5E6570;
}